.side-nav {
    background-color: #25272e;
}

.userView .circle {
    height: 70px !important;
    width: 70px !important;
    border-radius: 50% !important;
    margin: auto;

}
a{
    color: #fff
}
.side-nav li>a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-size: 15px
}
a:hover{
    text-decoration: none
}
.side-nav .userView .name {
    margin-top: 16px;
    font-weight: 500;
    text-align: center;
}
.side-nav li>a>i.material-icons {
    color: #26a69a;
    float: left;
    height: 47px;
    line-height: 49px;
    margin: 0px 6px 0px 5px;
    width: 24px;
    font-size: 20px;
}
.side-nav {
    width: 260px;
}
.btn i{
    
    margin: auto;
    margin-left: -8px;
    font-size: 27px;
    
}
.ant-menu-dark.ant-menu-inline,  .ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right {
    border-right: 0;
    position: absolute;
    border:none;
    outline: none;
    z-index: 500;
    box-shadow: none;
    min-height: 100vh;
    min-width: 20%;
   
     
}

.anticon-menu-fold{
    font-size: 22px !important;
}
.ant-menu-dark.ant-menu-vertical{
    border-right: 0;
    position: absolute;
    border:none;
    outline: none;
    z-index: 500;
    box-shadow: none;
    min-height: 100vh;   
  
}
.menu-btn,.menu-btn:hover{
    width: 50px;
    margin-top: 13px;
    position: absolute;
    background-color: transparent;
    border:none;
    outline: none;
    z-index: 100;
    box-shadow: none;
}
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    border: 0;
    background: none
}
.side-nav .collapsible, .side-nav.fixed .collapsible {
    box-shadow: none;
   
}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    background-color: transparent;
    color: #fff
}
.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
    color: #fff;
}
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    padding-left: 15px;
}
.collapsible-header i {
    padding-left: 19px;
    color: #26a69a;
    padding-right: 15px;
    font-size: 20px;
}
.circle {
    height: 55px !important;
    width: 100px !important;
    border-radius: 0px !important;
    margin-bottom: 20px !important
}

.ant-menu-item {
    left: 0 !important;
    margin-left: 0 !important;
    border-right: 0 !important;
    text-align: right !important;
}
.ant-menu-submenu-arrow{
    margin-right: 13px !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color:#001529 !important
}

.ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
    opacity: 1;
    -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-right: 13px !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.menu-vertical-right {
    border-right: 0 !important;
    padding-top: 62px !important;
}

.anticon {
    display: inline-block !important;
    color: inherit !important;
    font-style: normal !important;
    line-height: 0 !important;
    text-align: center !important;
    text-transform: none !important;
    vertical-align: 0em !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.ant-menu-submenu-title{
    text-align: right;

}

.ant-menu-submenu-arrow{
   margin-right:20px;
}
