
.conatiner{
    min-height: 100vh;  
    text-align: center; 
    
}

.termsContainer{
    width: 100vw;
    height: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #255C92;

}

.termsTitle{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    
}

.editTerms{
    margin: auto;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: transparent;
    color: #255C92;
    border: 2px solid #255C92;
    border-radius: 35px;
    
}


.editTerms:hover{
    background-color: #255C92;
    border: 2px solid #255C92;
    color: white;
}

.termsContainerData{    
    justify-content: flex-end;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: #255C92;
}

.termsData{
    color: #255C92;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center
}


.ant-modal-title{
    margin-top: 0;
    text-align: center !important;
    color: #26a69a !important;
    }
    .ant-btn-primary{
    margin-left: 100px;
    font-weight: bold;
    height: 40px !important;
    background: #26a69a !important;
    border:1px solid #26a69a
    }
    .add-btn{
    width: 96%;
    margin-left: 12px !important;
    }
    .ant-form-item-control {
        width: 100% !important;
    }
    .ant-select-selection--single {
        height: 40px !important;
    }
    .ant-select-selection-selected-value{
        margin-top: 2px !important;
        font-size: 15px !important;
    }
    .anticon-plus{
        font-size: 20px;
        font-weight: bold;
    }
    .ant-upload{
        width: 100% !important;
    }
    .controller-icon {
        cursor: pointer;
        margin: 5px !important;
        color: #26a69a !important;
        font-size: 18px;
    }
    div > img {
        border-radius: 50%;
    }

    .ant-skeleton-content > ul{
        display:none !important;
    }
    .ant-skeleton-content > h3{
    width:100% !important
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #26a69a;
        font-weight: 500;
        font-size: 14px;
    }